
* { -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

body {
	margin: 0;
	padding: 0;
    font-family: 'Source Sans Pro', 'sans-serif';

}

p {
	font-size: 18px;
	font-weight: 300;
	/*letter-spacing: 1px;*/
	line-height: 25px;
}

a {
	text-decoration: none;
	color: #e74c3c;
}

/***************************************************
************     NAV BAR      **********************
****************************************************/

nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	padding-top: 5px;
	background-color: #e74c3c;
}

nav a {
	color: white;
}

nav ul,
nav .sub-nav {
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: black;
	float: left;
	list-style-type: none;
	width: 100%;
	position: relative;
}

nav ul li {
	display: inline;
	position: relative;
	float: left;
}


nav ul li a {
	float: left;
	/*r*/
	height: 40px;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;

}

/*5x5 home icon*/
nav ul li:first-child a {
	font-size: 25px;
	font-weight: 800;
	/*padding: 25px;*/
}

nav ul li:nth-child(2) a {
	width: 15%;
}

/*WHEN ORIGINAL NAV HOVERED*/
nav ul li:hover a {
	background-color: #e74c3c;
	color: black;
}

/*DISPLAY DROPDOWN LIST;*/
nav ul li:hover ul {
	display: block;
}

/*DROPDOWN LIST*/
nav ul li ul {
	position: absolute;
	top: 100px;
	display: list-item;
	float: none;
	background-color: #e74c3c;
	display: none;
}

nav ul li ul li:first-child a{
	/*padding: 10px;*/
}

nav ul li ul a {
	display: block;
}

span.arrow {
	font-size:10px;
}

/***************************************************
************     HEADER       **********************
****************************************************/
header {
	min-height: 600px;
	width: 100%;
	background-image: url(../media/stronglifts.jpg);
	background-size: cover;
}

/***************************************************
************     CONTENT      **********************
****************************************************/
.content {
	margin: 50px 25% 50px 15%;
	float: left;
	width: 80%;
	max-width: 525px;

}


/***************************************************
************     FOOTER       **********************
****************************************************/





