
* { -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

body {
	margin: 0;
	padding: 0;
    font-family: 'Source Sans Pro', 'sans-serif';
}

h1 {
	text-align: center;
	color: black;
	font-size: 40px;
	padding: 5% 0;
	margin: 0 15%;
	background-color: rgba(255,255,255,0.5);
	text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	box-shadow:  0 5px 5px rgba(0,0,0,0.7);
	
}

.headers{ 
	padding-top: 60px;
	margin-top: 0;
}

p {
	font-size: 18px;
	font-weight: 300;
	line-height: 25px;
}

a {
	text-decoration: none;
	color: #e74c3c;
}

@font-face { 
	font-family: 'CAC_Champagne';
	src: url('../fonts/cac_champagne.ttf') format('truetype');
}

/***************************************************
************     NAV BAR      **********************
****************************************************/

nav {
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 5px;
	z-index: 99;
	width: 100%;
	height: 50px;
	background-color: #e74c3c;
	box-shadow: 0 2px 8px black;
}

ul.nav, ul.sub-nav {
	margin: 0;
	padding: 0 10%; /*align first button with content*/
	float: left;
	list-style-type: none; 
	width: 100%;
	background-color: black;
}

ul.nav {
	position: fixed;
}

ul.sub-nav {
	padding: 0; /*fix alignment for subnav*/
}

ul.nav li {
	display: inline;
	position: relative;
	float: left;
}

ul.nav li a {
	padding: 10px;
	float: left;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1px;	
}

ul.nav li:first-child a {
	color: #e74c3c;
}

ul.nav li:first-child a:hover {
	background-color: white;
	color: #e74c3c;
}


ul.nav li ul {
	display: none;
	position: absolute;
	width: auto;
	top: 45px;
}

ul.nav li:hover ul {
	display:block;
}

ul.nav li ul li {
	display: list-item;
	float: none;
}

ul.nav li ul li a {
	text-align: center;
	width: auto;
}

/*ensure Squat & Deadlift span entire width*/
ul.nav li ul li:first-child a,
ul.nav li ul li:nth-child(2) a {
	width: 100%;
}

ul.nav li ul li:first-child a:hover {
	background-color: #e74c3c;
	color: black;
}

ul.nav li ul li:first-child a {
	color: white;
}

nav a {
	color: white;
}

nav a:hover {
	color: black;
	background-color: #e74c3c;
}



span.arrow {
	font-size:10px;
}

/***************************************************
************     HEADER       **********************
****************************************************/
header {
	min-height: 600px;
	width: 100%;
	background-image: url(../media/stronglifts.jpg);
	background-size: cover;
	background-position: top;
	/*position: relative;*/
	padding-top: 17%;
}

/***************************************************
************     CONTENT      **********************
****************************************************/
.content {
	float: left;
	width: 60%;
	padding: 25px 0 25px 10%;
	/*border: 1px solid black;*/
	
}

.content li,
.content-other li {
	font-weight: 300;
	padding: 2px 0;
}

.wrapper {
	padding-top: 55px;
	max-width: 555px;
	/*border: 1px solid black;*/
}

th {
	text-decoration: underline;
}

td {
	text-align: center;
	padding: 5px 10px;
}

/***************************************************
***********       TABS        **********************
****************************************************/

#tabs_wrapper {
    /*width: 422px;*/
}
#tabs_container {
	/*BORDER ON THE TOP PART OF TABS*/
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}
#tabs {
    list-style: none;
    padding: 5px 0 4px 0;
    margin: 0 0 0 10px;
    font: 0.75em arial;
}
#tabs li {
    display: inline;
}
#tabs li a {
    border: 1px solid #ccc;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 14px;
    background-color: #eeeeee;
    border-bottom: none;
    outline: none;
            border-radius: 5px 5px 0 0;
       -moz-border-radius: 5px 5px 0 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
#tabs li a:hover {
    background-color: #dddddd;
    padding: 10px 12px;
}
#tabs li.active a {
    border-bottom: 1px solid #fff;
    background-color: #fff;
    /*padding: 4px 6px 5px 6px;*/
    padding: 10px;
    border-bottom: none;
}
#tabs li.active a:hover {
    background-color: #eeeeee;
    /*padding: 4px 6px 5px 6px;*/
    padding: 10px;
    border-bottom: none;
}
 
#tabs li a.icon_accept {
    background-image: url(accept.png);
    background-position: 5px;
    background-repeat: no-repeat;
    padding-left: 24px;
}
#tabs li a.icon_accept:hover {
    padding-left: 24px;
}
 
#tabs_content_container {
    /*border: 1px solid #ccc;*/ 
    border-top: none;
    padding: 10px;
    width: 100%;
}
.tab_content {
    display: none;
}

/***************************************************
************     SIDEBAR      **********************
****************************************************/

.sidebar {
	float: right;
	width: 40%;
	/*border: 1px solid black;*/
	padding: 25px;
}

.sidebar li {
	padding: 2px;
}

.mustread {
	padding-top: 53px;
}

.mustread,
.tools,
.tweets {
	/*border: 1px solid black;*/
	margin: 50px 0 50px 0;
}

.tools {
	
}

.tweets{
}


/***************************************************
************     FOOTER       **********************
****************************************************/


footer {
	background: #e74c3c;
	padding-bottom: 7px;
	width: 100%;
	clear: both;
}

.arnold {
	background: black;
	font-size: 32px;
	font-family: 'Montserrat', 'sans-serif';
	color: white;
	padding: 50px 10%;
	text-align: center;

}

cite {
	color: #e74c3c;
	font-family: 'CAC_Champagne';
	text-align: right;
	/*font-family: 'Pacifico', 'cursive';*/
}

/***************************************************
*****    CONTENT WRAPPER FOR OTHER PAGES    ********
****************************************************/


.wrapper-other {
	/*width: 60%;*/
	padding: 40px 30%;
}
.content-other {
	max-width: 555px;
	/*margin: 50px 15%;*/
	/*padding: auto 50px;*/
}

